* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, black, #022a3c) fixed;
  padding: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
